header img {
    width: 100px;
    height: 100px;
    margin: 60px 800px 60px 70px;
    border-radius: 50%;      /*dimension et marge de la photo de profil */
}

h2 {
    margin-top: 0px;
}
header {
    width: 100%;
    background-color: #17abb3;               /* classe tous les élments dans le header en ligne (photo et texte)*/
    display: flex;
    flex-direction: row;   
    color: white;
}
.head {
    display: flex;
    flex-direction: column;                 /*place les élements du text en columns */
    text-align: center;
}


.head_flex1 {
    display: flex;  
    flex-direction: row;
                                      /* fait 2 lignes, tel mail et adresse permis */
}

.head_flex1 a {
    margin-right: 40px;  
    margin-top: 15px;                    
    margin-left: 40px;  
}

.skill{
    display: flex;
    flex-direction: row;         /* place les etoiles en face des compétences*/
    align-items: center;
}

#lateral {
    background-color: #e3e3e3;
    width: 800px;
    margin-top: 0px;
}

main {
    display: flex;
    flex-direction: row;
    
}

.stars {
    margin: 15px;
}